USE [master]
GO
/****** Object:  Database [FamousPeopleDB]    Script Date: 19.03.2025 14:20:30 ******/
CREATE DATABASE [FamousPeopleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FamousPeopleDB', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FamousPeopleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FamousPeopleDB_log', FILENAME = N'D:\Programms\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FamousPeopleDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamousPeopleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamousPeopleDB]
GO
/****** Object:  Table [dbo].[FamousHuman]    Script Date: 19.03.2025 14:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamousHuman](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[Patronymic] [nvarchar](150) NULL,
	[BirthDate] [date] NULL,
	[DeathDate] [date] NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_FamousHuman] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamousHumanToUser]    Script Date: 19.03.2025 14:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamousHumanToUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdFamousPeople] [int] NOT NULL,
 CONSTRAINT [PK_FamousHumanToUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[IdUser] ASC,
	[IdFamousPeople] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.03.2025 14:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.03.2025 14:20:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FamousHuman] ON 

SET IDENTITY_INSERT [dbo].[FamousHuman] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [IdRole], [Login], [Password]) VALUES (1, N'Админ', 1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[FamousHumanToUser]  WITH CHECK ADD  CONSTRAINT [FK_FamousHumanToUser_FamousHuman] FOREIGN KEY([IdFamousPeople])
REFERENCES [dbo].[FamousHuman] ([Id])
GO
ALTER TABLE [dbo].[FamousHumanToUser] CHECK CONSTRAINT [FK_FamousHumanToUser_FamousHuman]
GO
ALTER TABLE [dbo].[FamousHumanToUser]  WITH CHECK ADD  CONSTRAINT [FK_FamousHumanToUser_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[FamousHumanToUser] CHECK CONSTRAINT [FK_FamousHumanToUser_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
